---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;
const id = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<!-- class={`rounded flex flex-col justify-center items-center p-2 ${!isBig && "border"}`} --><!-- href={`/pokemons/${name}`} --><!-- href={`/pokemon/${id}`} -->
<a
  href={`/pokemons/${name}`}
  class:list={[
    "rounded flex flex-col justify-center items-center p-2",
    { border: !isBig },
  ]}
>
  <img
    transition:name={`${name}-image`}
    class:list={[{ "w-48 h-48": isBig }, { "w-18 h-18": !isBig }]}
    src={imageSrc}
    alt={name}
  />
  <span
    class:list={["capitalize", { "text-2xl": isBig }, { "text-base": !isBig }]}
  >
    #{id}
    {name}
  </span>
</a>
